.UserDialog-Wrapper {
  /*全屏*/
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*内容居中*/
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(0, 0%, 0%, 0.40);

  .UserDialog {
    border: 1px solid;
    border-radius: 4px;
    width: 400px;
    height: 250px;
    background: white;
    border: 1px solid #aaa;
    box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.35);
    padding: 15px;

    .signInOrSignUp>nav:first-child {
      padding: 1em;
      margin-left: -2em;
    }

    .signInOrSignUp>nav:first-child label {
      margin-left: 2em;
      cursor: pointer;
    }

    .forgotPassword {
      h3 {
        padding: 1em;
      }

      form {
        padding: 0 1em 1em;
      }
    }


    form>.row {
      display: flex;
      padding: .3em 0;

      label:first-child {
        width: 4em;
      }

      .actions {
        padding-left: 4em;
        display: flex;
        align-items: center;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}