.App {
  color: #333;
  border: 1px solid #aaa;
  border-radius: 4px;
  background: white;
  margin: 2em;
  padding: 0 1em;
  min-height: 20em;
  min-width: 32em;
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.15);

  .todoList>li:nth-child(odd) {
    background: #eee;
  }

  .todoList>li:nth-child(even) {
    background: transparent;
  }

  h1 {
    position: relative;
  }

  h1>.ant-btn {
    position: absolute;
    display: flex;
    right: 0;
    top: 5px;
  }
}